.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-image: url(../img/card-back.png);
}

.hand {
  overflow: auto;

}

.front {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(http://fc06.deviantart.net/fs16/i/2007/138/7/c/poker_by_mimiss.jpg);
  background-size: 100%;
}

span, h2 {
  color:white;
}